@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-80 backdrop-blur-sm transition duration-300 ease-in-out;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.menu-hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.menu-hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.menu-hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.menu-hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3
}